/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

/* Variables */
:root {
  --sans: "Open Sans", sans-serif;
  --sanspro: "Open Sans", sans-serif;
  --libre: "Libre Franklin", sans-serif;
  --mon: "Montserrat", sans-serif;
  --anon: "Anonymous Pro", monospace;
  --lightpurple: #bc6ff1;
  --primaryColor: #892cdc;
  --secondaryColor: #1f4287;
  --bgColor: #000000;
  --purple: #892cdc;
}

/* RESOURCE CSS HERE */
.source {
  height: 5vh !important;
  min-height: 10vh;
}

.webdev {
  padding-top: 80px;
  padding-bottom: 50px;
}

.webdev .container {
  padding: 15px;
}

.webdev .container .devInfo span {
  width: 100px;
  font-family: var(--mon) !important;
  background: #7f5af0 !important;
}

.webdev .container .devInfo h2 {
  padding: 10px;
  font-family: var(--mon) !important;
}
.webdev .container .devInfo h3 {
  padding: 10px;
  font-size: 20px;
  font-family: var(--mon) !important;
}

.webdev .container .card {
  margin-right: 20px;
}

.webdev .container .card .row img {
  width: 400;
  height: 270px !important;
  object-fit: cover;
}

.webdev .container .bootstrapCard .row img {
  width: 400px;
  height: 300px !important;
  object-fit: cover;
}

.webdev .container .card .card-body h3 {
  font-family: var(--mon) !important;
}

.webdev .container .card .card-body h6 {
  font-size: 12px;
  position: relative;
  top: -6px;
  width: 120px;
  font-family: var(--mon) !important;
}

.webdev .container .card .card-body p {
  font-family: var(--mon) !important;
}

.webdev .container .card .card-body a {
  width: 165px;
}

.webdev .container .card .card-body a:hover {
  background: #5997c9 !important;
  color: white !important;
}

/* SUB NAV STYLES */
.nav {
  background: #16161a !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.nav .nav-item {
  color: #fffffe;
  font-weight: 600;
  padding: 0.1rem 0.2rem !important;
  /* border: solid #7f5af0 0.5px; */
  border-radius: 20px;
}

.nav .nav-item .nav-link {
  font-family: var(--mon);
}

.nav .nav-item:hover {
  color: #fffffe;
  border-radius: 50px;
  background: #7f5af0;
}

.nav .colour-change {
  animation: colorchange 10s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
@media (max-width: 575.98px) {
  .nav .nav-item {
    color: #fffffe;
    font-weight: 600;
    font-size: 12px;
  }
  .nav {
    background: #16161a !important;
  }
}

/* Styles required only for the example above */
.assets {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #16161a !important;
}
.assets .container .card a {
  background: #7f5af0 !important;
}

.assets .container .card {
  margin-right: 10px;
  margin-left: 10px;
}
.assets .container .card .descText {
  color: rgb(199, 199, 199) !important;
}

.assets .container .card .sourceBtn:hover {
  background: #663de0 !important;
  color: white !important;
}

/* VIDEO PLAYER */
.videoPlayer {
  padding: 100px;
  background: #16161a;
}
