/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

/* Variables */
:root {
  --sans: "Open Sans", sans-serif;
  --sanspro: "Open Sans", sans-serif;
  --libre: "Libre Franklin", sans-serif;
  --mon: "Montserrat", sans-serif;
  --anon: "Anonymous Pro", monospace;
  --lightpurple: #bc6ff1;
  --primaryColor: #892cdc;
  --secondaryColor: #1f4287;
  --bgColor: #000000;
  --purple: #892cdc;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--sanspro);
}

/* Navbar */
.navbar {
  border-radius: 0px;
  background: transparent !important;
  box-shadow: none !important;
  transition: all 0.4s;
}

.navbar-brand {
  padding: 10px;
  transition: all 0.3s ease-in-out;
  font-family: var(--mon);
  font-weight: 600;
  color: white;
}

.navbar-brand:hover {
  color: var(--primaryColor) !important;
  position: relative;
  margin-bottom: 10px;
}

.navbar-nav .nav-item .nav-link {
  font-family: var(--sanspro);
  padding: 20px !important;
  color: white;
  transition: all 0.3 ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #7f5af0 !important;
  font-weight: bold;
  position: relative;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.active {
  color: var(--lightpurple) !important;
  font-weight: 600 !important;
}

.bgActive {
  background: #16161a !important;
  /* display: none !important; */
}

/* Social media top navbar */

marquee {
  position: absolute;
}

/* HEADER IMAGE WITH TEXT SECTION */

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* black background */
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .container {
  position: relative;
  bottom: 20px;
  z-index: 2;
}

header .container h1 {
  font-family: var(--mon) !important;
  font-weight: 600;
}

header .container p {
  font-family: var(--mon) !important;
  font-size: 16px;
}

header .container .btn-change8 {
  font-family: var(--mon) !important;
  font-weight: 600;
}

header .container a {
  font-family: var(--mon);
  font-weight: 600;
}

/* section 2 */
/* Card styling */
.card {
  margin-bottom: 10px;
}

.card .front-Img {
  box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;
}

.what-we-provide {
  background: rgb(243, 243, 243);
}

.what-we-provide .provideInfo h1 {
  font-family: var(--mon) !important;
}

.what-we-provide .provideInfo p {
  font-family: var(--mon);
  /* font-weight: 600; */
}

.card .card-body h5 {
  font-family: var(--mon);
  font-weight: 500;
}

.card .card-body p {
  font-family: var(--mon);
}

/* MOBILE MEDIA QUERIES  */

@media (max-width: 575.98px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
  }
  /* Navbar */
  .navbar {
    border-radius: 0px;
    background: var(--bgColor) !important;
    box-shadow: none !important;
    transition: all 0.4s;
  }

  .videoPlayer {
    padding: 5px !important;
    background: #16161a;
  }
}

@media screen and (max-width: 990px) {
  /* Navbar */
  .navbar {
    border-radius: 0px;
    background: #121212 !important;
    box-shadow: none !important;
    transition: all 0.4s;
  }

  .aboutus {
    padding: 30px !important;
  }

  .community .container .comInfo a {
    font-family: var(--mon) !important;
    width: 150px !important;
  }

  /* resource responsiveness */
  .webdev .container {
    padding: 30px !important;
  }

  .webdev .container .card {
    margin-right: 0px !important;
  }
}

.btn-change8 {
  background: var(--primaryColor);
  /* font-family: var(--mon) !important; */
  border: 0px;
  border-radius: 40px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #7b27c5de inset;
}
.btn-change8:hover {
  box-shadow: -200px 0 0 #6e1ab8 inset;
  color: white !important;
}

/* navbar-dark elegant-color-dark

.navbar {
border-radius: 0px;
background: transparent !important;
transition: all 0.4s;
} */

/* OPEN SOURCE STYLING */

.open-src .card .card-body .card-title {
  font-family: var(--mon);
}

/* FEATURES STYLING HERE */
.features {
  padding-top: 80px;
  padding-bottom: 120px;
}
.features .featuresInfo h1 {
  font-family: var(--mon);
}

.features .featuresInfo p {
  font-family: var(--mon);
}

.feature-btn:hover {
  background: #7d47dc !important;
  color: white !important;
}

/* .features .card {
  height: 520px !important;
} */

/* ABOUT STYLINGS */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1562034475-0292da13283a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead .small {
  font-size: 15px;
}

/* what section */
.aboutus {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* Community section */
.community {
  padding-top: 80px;
  padding-bottom: 80px;
}

.community .container .comInfo h3 {
  font-family: var(--mon) !important;
  font-size: 32px !important;
  margin-bottom: 20px;
}

.community .container .comInfo p {
  font-family: var(--mon) !important;
}

.community .container .comInfo a {
  font-family: var(--mon) !important;
  width: 200px;
}

.community .container .comInfo a:hover {
  font-family: var(--mon) !important;
  width: 200px;
  background: #7d47dc !important;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.founder {
  padding-top: 50px;
  padding-bottom: 70px;
}

.founder .founderDetails h5 span {
  font-family: var(--mon) !important;
}
.founder .founderDetails h3 {
  font-family: var(--mon) !important;
}
.founder .founderDetails p {
  font-family: var(--mon) !important;
}

.founder .commiters h6 span {
  font-family: var(--mon) !important;
}
.founder .commiters h6 {
  font-family: var(--mon) !important;
}

/* RESOURCE PAGE */
/* IN RESOURCE.CSS */
.resource {
  position: relative;
  background-color: black;
  height: 75vh !important;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

.featured {
  position: relative;
  background-color: black;
  height: 75vh !important;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
  background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
