/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Variables */
:root {
  --sans: "Open Sans", sans-serif;
  --sanspro: "Open Sans", sans-serif;
  --libre: "Libre Franklin", sans-serif;
  --mon: "Montserrat", sans-serif;
  --primaryColor: #21e6c1;
  --secondaryColor: #1f4287;
  --bgColor: #071e3d;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--sanspro);
}

/* Navbar */
.navbar {
  border-radius: 0px;
}

.navbar-brand {
  padding: 20px;
  transition: all 0.3s ease-in-out;
  font-family: var(--mon);
  font-weight: 600;
}

.navbar-brand:hover {
  color: var(--primaryColor) !important;
  position: relative;
  margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
  font-family: var(--sanspro);
  padding: 20px !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--primaryColor) !important;
}
.active {
  color: var(--primaryColor) !important;
  font-weight: lighter;
}

/* Social media top navbar */

marquee {
  position: absolute;
  bottom: 2px;
}

/* HEADER IMAGE WITH TEXT SECTION */

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .display-4 {
    font-size: 48px;
  }
}
